head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    block extraHeader
body
    script(src='/javascripts/jquery-3.3.1.js')
    script.
        function sendRequest(tipZahteve, potZahteve) {
            var povezava = "http://localhost:" + #{port} + potZahteve;
            console.log("not v funkciji send", tipZahteve, povezava);
            $.ajax(
                {
                    url: potZahteve,
                    type: tipZahteve,
                    success: function (result) {
                    }
                }
            );
        }
    .row
        .TopPadding2x
            .col-xs-6.col-md-3
                .row
                    button.btn.btn-success(type="button", onclick=`sendRequest('GET', '/api/zacetnabazauporabnik');`) Dodajanje uporabnikov
                    button.btn.btn-danger(type="button", onclick=`sendRequest('GET', '/api/izbrisbazeuporabnik');`) Izbris uporabnikov
                    button.btn.btn-success(type="button", onclick=`sendRequest('GET', '/api/zacetnabazadogodki');`) Dodajanje eventov
                    button.btn.btn-danger(type="button", onclick=`sendRequest('GET', '/api/izbrisbazedogodki');`) Izbris eventov
                    button.btn.btn-success(type="button", onclick=`sendRequest('GET', '/api/zacetnabazakoledar');`) Dodajanje koledarja
                    button.btn.btn-danger(type="button", onclick=`sendRequest('GET', '/api/izbrisbazekoledar');`) Izbris koledarja
                    button.btn.btn-success(type="button", onclick=`sendRequest('GET', '/api/zacetnabazatodo');`) Dodajanje Todo
                    button.btn.btn-danger(type="button", onclick=`sendRequest('GET', '/api/izbrisbazetodo');`) Izbris Todo
                    button.btn.btn-success(type="button", onclick=`sendRequest('GET', '/api/zacetnabazaobvestilo');`) Dodajanje obvestil
                    button.btn.btn-danger(type="button", onclick=`sendRequest('GET', '/api/izbrisbazeobvestilo');`) Izbris Obvestil
