extends layout

block extraHeader
  link(rel='stylesheet', type='text/css', href='/stylesheets/events.css')

block content
    .inline-display
        a.btn.btn-success#move(href='add/' style='margin-bottom: 0.5rem; display: flex; justify-content: center') Dodaj dogodek
    .container-fluid
      table.table.table-bordered.table-striped
        thead
          tr.d-flex
            th.col-2 Name
            th.col-2 Date
            th.col-3 Organizer
            th.col-4 Description
            th.col-1 Delete
        tbody
            each event in events
              tr.d-flex
                td.col-2 #{event.ime}
                td.col-2 #{event.datum}
                td.col-3 #{event.organizator}
                td.col-4 #{event.opis}
                td.col-1
                  if event.ime
                    a.btn.btn-danger(href='delete/'+event._id) X
