extends layout

block content
    script(src='/javascripts/food.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDt3OYRhUcGJHzhXuZUEIX45vLSMRap3Zc&callback=initMap&libraries=places', async='', defer='')
    #map