doctype html
html
    head
        title StraightAs
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='stylesheets/general.css', type='text/css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Acme|Permanent+Marker', rel='stylesheet')
    body.prijava
        .wraper
            .vertical-center
                .container
                    .panel.bg_light.panel-prijava-registracija
                        img#image_logo(src='/img/logo.png')
                        .panel-heading.bg_light
                            h1.straight-as
                                | StraightAs
                            p=vsebina
                            a.btn.btn-secondary.text-primary(href='/prijava', role='button') Nazaj
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
            script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
