extends layout

block extraHeader
    link(rel='stylesheet', type='text/css', href='/stylesheets/home.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.js')

block content
    .jumbotron(style="margin-top: 20px")
        h1.display-4 Pozdravljen,
        p.lead
            | ta stran je na voljo le prijavljenim uporabnikom.
