doctype html
html.prijava
  head
    title StraightAs – Registracija
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/general.css', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Acme|Permanent+Marker', rel='stylesheet')
  body.prijava
    .wraper
      .vertical-center
        .container
          .panel.panel-prijava-registracija
            a(href='/')
              img#image_logo(src='/img/logo.png')
            .panel-heading.bg_light
              h1.straight-as
                | StraightAs – Registracija
            .panel-body.bg_light
              //
                <div class="col-md-6 col-md-offset-3 centered">>
                <div class="row">
              form(method="post", action="/registracija")
                .form-group
                  label(for='ime') Ime:
                  input#ime.form-control(type='text', placeholder='Vnesi ime', name='ime')
                .form-group
                  label(for='priimek') Priimek:
                  input#priimek.form-control(type='text', placeholder='Vnesi priimek', name='priimek')
                .form-group
                  label(for='email') Elektronski naslov:
                  input#email.form-control(type='email', placeholder='Vnesi elektronski naslov', name='email')
                .form-group
                  label(for='geslo') Geslo:
                  input#geslo.form-control(type='password', placeholder='Vnesi geslo', name='geslo')
                .form-group
                  label(for='geslo') Geslo (potrdi):
                  input#geslo_potrdi.form-control(type='password', placeholder='Vnesi geslo', name='geslo_potrdi')
                button.btn.btn-primary(type='submit') Registracija
              a.btn.btn-secondary(href='/prijava', role='button') Prijava
            //
              </div>
              </div>
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')