doctype html
html.prijava
  head
    title StraightAs – Urejanje podatkov
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/general.css', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Acme|Permanent+Marker', rel='stylesheet')
  body.prijava
    .wraper
      .vertical-center
        .container
          .panel.panel-prijava-registracija
            img#image_logo(src='/img/logo.png')
            .panel-heading.bg_light
              h1.straight-as
                | StraightAs – Urejanje gesla
            .panel-body.bg_light
              //
                <div class="col-md-6 col-md-offset-3 centered">>
                <div class="row">
              form(method="post", action="/spremenigeslo")

                - if (typeof(napaka) !== 'undefined'){
                  .alert.alert-danger Nepravilni podatki!
                -}

                .form-group
                  label(for='geslostaro') Staro geslo:
                  input#geslostaro.form-control(type='password', placeholder='Vnesi geslo', name='geslostaro')
                .form-group
                  label(for='geslonovo') Novo geslo:
                  input#geslonovo.form-control(type='password', placeholder='Vnesi geslo', name='geslonovo')
                .form-group
                  label(for='geslo_potrdi') Novo geslo (potrdi):
                  input#geslo_potrdi.form-control(type='password', placeholder='Vnesi geslo', name='geslonovo_potrdi')
                button.btn.btn-primary(type='submit') Spremeni geslo
              a.btn.btn-secondary(href='/', role='button') Nazaj
            //
              </div>
              </div>
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')